<div class="row">
  <div class="col-sm-11">
    <form [formGroup]="form" (submit)="onTrackTeam()">
      <select formControlName="conference">
        <option value="">Not selected</option>
        <option value="West">Western</option>
        <option value="East">Eastern</option>
      </select>
      <select formControlName="division">
        <option value="">Not selected</option>
        <option [value]="division" *ngFor="let division of divisions$ | async">
          {{ division }}
        </option>
      </select>
      <select formControlName="team">
        <option [value]="team.id" *ngFor="let team of teams$ | async">
          {{ team.full_name }}
        </option>
      </select>
      <button type="submit" class="primary">Track team</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="days-selector">
    <select [(ngModel)]="teamResultsInDays">
      <option value="6">6</option>
      <option value="12">12</option>
      <option value="20">20</option>
    </select>
    days
  </div>
</div>
<div class="row">
  <app-team-stats
    class="col-sm-4"
    *ngFor="let team of nbaService.getTrackedTeams()"
    [team]="team"
    [days]="teamResultsInDays">
  </app-team-stats>
</div>
